html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

#main {
    margin: 20px 6px;
    padding: 10px;
    background: #f1f1f1;
}

@media (max-width:460px) {
    #main {
        margin: 0;
    }
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}

#img-caption {
    margin-top: 15px;
    margin-bottom: 5px;
}

@media(max-width:460px) {
    #img-caption {
        font-size: 1.2rem;
    }
}

#tribute-info {
    text-align: center;
    margin: 25px 0;
}

ul {
    margin: 0 auto 20px auto;
    max-width: 650px;
    text-align: left;
}

li {
    margin: 10px 0;
}